* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between
}
  
.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}
  
.header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mflogo-small,
.h44basislogo-small {
  display: none;
}

@media only screen and (max-width: 600px){
  .mflogo-fullsize,
  .h44basislogo-fullsize {
    display: none;
  }

  .mflogo-small,
  .h44basislogo-small {
    display: flex;
  }
}